ICONVNET_APP_KEY=
ICONVNET_APP_SECRET=
ICONVNET_DISPATCH_ENDPOINT=http://119.8.81.160:9997/api/v3/enterprise/addMsg
ICONVNET_CANCEL_ENDPOINT=http://119.8.81.160:9997/api/v3/enterprise/BroadMsgCancel
ICONVNET_UPLOAD_ENDPOINT=http://119.8.81.160:80/cgi-bin/FileUpload
POC_TIMEOUT_SECONDS=8.0
