ICONVNET_APP_KEY=
ICONVNET_APP_SECRET=
ICONVNET_BASE_URL=http://HOST:PORT/api/v3
ICONVNET_DISPATCH_ENDPOINT=http://HOST:PORT/api/v3/enterprise/addMsg
ICONVNET_CANCEL_ENDPOINT=http://HOST:PORT/api/v3/enterprise/BroadMsgCancel
ICONVNET_AI_EVENT_ENDPOINT=http://HOST:PORT/api/v3/enterprise/ZKEventRcv
ICONVNET_TASK_TICKET_ENDPOINT=http://HOST:PORT/api/v3/enterprise/NewJobTicket
ICONVNET_UPLOAD_ENDPOINT=
ICONVNET_PUBLIC_MEDIA_BASE_URL=
ICONVNET_TASK_UID=
POC_TIMEOUT_SECONDS=8.0
